<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	</head>
	<body>
		<header>

			<h2>Save Life App</h2>
		</header>
		<p>
			Hello
		</p>
		<footer>
			<p>
				Enjoy your experience
			</p>
			<p>
				Save Life Team
			</p>
		</footer>
	</body>
</html>